blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dronecan==1.0.16
empy==3.3.4
flake8==5.0.4
Flask==3.0.3
Flask-Cors==4.0.1
future==1.0.0
geocoder==1.38.1
idna==3.7
importlib_metadata==7.1.0
intelhex==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
pexpect==4.8.0
ptyprocess==0.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
pygame==2.1.2
python-dotenv==1.0.1
ratelim==0.1.6
requests==2.31.0
six==1.16.0
urllib3==2.2.1
Werkzeug==3.0.3
zipp==3.18.1
